$background: rgb(10,25,47) !important;
$offsetBack: rgb(13,30,51) !important;
$accent: rgb(100,255,218) !important;
$headerColor: rgb(204,214,246) !important;
$contentColor: rgb(136,146,176) !important;
$spaceMono: 'Space Mono', monospace !important;
$workSans: 'Work Sans', sans-serif !important;
$poppins: 'Poppins', sans-serif;
$skew: skewX(-15deg);


*:focus {
    outline: none !important;
}
body {
    background: $background;
    background-attachment: fixed;
    color: $headerColor;
    overflow-x: hidden;
}
nav {
    background: $background;
    box-shadow: 0 6px 14px -8px rgb(5, 5, 5);
}
h1 {
    font-size: 300%;
}
i {
    font-size: 40px;
    color: $contentColor;
}
i:hover {
    color: $accent;
}
.nav-link:hover {
    color: $accent;
}
.navbar-brand {
    border: solid 2px;
    transform: $skew;
}
.navbar-toggler {
    border: none;  
    transform: $skew;
}
.ul-style::before {
    content: "\2022";
    color: $accent;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    list-style-type: square;
}
.space-mono {
    font-family: $spaceMono;
}
.work-sans {
    font-family: $workSans;
}
.poppins{
    font-family: $poppins;
}
.accent-color {
    color: $accent;
}
.header-color {
    color: $headerColor;
}
.content-color {
    color: $contentColor;
}
.card {
    background: $offsetBack;
}
.skew {
    transform: $skew;
}
.custom-btn {
    background: $offsetBack;
    border-color: $contentColor;
    color: $contentColor;
    font-family: $spaceMono;
}
.custom-btn:hover {
    border-color: $accent;
    color: $accent;
}
.px-15 {
    font-size: 15px;
}
.px-18 {
    font-size: 18px;
}
.lead {
    margin-top: 111px;
    padding: 19px;
}
.lead-container {
    max-width: 900px;
    margin: 0 auto;
}
.smaller {
    font-size: 29px;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

// .container, .col-md-6 {
//     border: solid white 2px;
// }
// .social-links {
//     display: flex;
//     flex-direction: column;
//     padding: 20px;
//     position: fixed;
// }
// .email-link {
//     display: flex;
//     flex-direction: row;
//     transform: rotate(90deg);
//     position: fixed;
// }
footer {
    background-color: rgb(2,12,27);
    padding: 40px;
    margin-top: 1000px;
}